* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section{
    align-items: center;
    text-align: center;
}

input{
    text-align: center;
}

a {
    text-decoration: none;
    color:black
}

h1{
    font-size: 100px;
    border: solid 5px;
    border-radius: 15px;
    margin: 20px;
    border-color: rgb(22, 148, 190) !important;
    text-align: center;
    padding:10px;
}

article,footer {
    text-align: center !important;
    color:aliceblue;
    background-color: rgb(1, 119, 158);
    border:solid 2px black;
    border-radius: 20px;
    padding: 0 20px;
}

p{
    min-width: 200px;
    max-width:100%;
    font-size: 28px;
}
#types{
    text-align: center;
    text-decoration: double;
    font-size: large;
    font-variant: small-caps;
    padding-bottom: 20px;
}
h2 {
    font-size: 50px;
}

footer {
    margin-top: 100px;
    text-align: center;
}
#anchor{
    color: black !important;
    text-decoration:solid!important;
    font-size: 24px;
}



@media screen and (min-width: 1150px){  


    #images {
        align-items: center;
        justify-content: center;
        display:grid;
        grid-template-rows: auto;
        grid-template-columns: auto auto auto auto;
        gap: 25%;
    }

    .gif {
        display:flex;
        min-width:250px;
        max-width:20vw;
        border-radius: 20px;
        box-shadow: 0 10px 20px;
        transition: all 100ms ease-in-out;
        margin:40px;
        margin-top: 0px;
    }

    #solar_gif{
        grid-column: 1/5;
        grid-row:1;

    }

    #turbine_gif{
        grid-column: 2/5;
        grid-row:1;

    }

    #nuclear_gif{
        grid-column: 3/5;
        grid-row:1;

    }

    #hydro_gif{
        grid-column: 4/5;
        grid-row:1;

    }

    .gif:hover{
    transform: scale(1.17,1.17)
    }
    
}


@media screen and (max-width: 1150px){  
    h1{
        font-size:80px;
    }
    #types{
        padding-bottom: 0px;
    }
    h2 {
        font-size: 50px;
    }
    #images{
        display:inline-block;
        text-align: center;

    }
    .gif {
        width:270px;
        border-radius: 20px;
        box-shadow: 0 10px 20px;
        transition: all 100ms ease-in-out;
        margin:50px;
        text-align: center;
        transform: scale(1.25,1.25)
    }


    .gif:active{
    transform: scale(1.22,1.22)
    }

}

/* need to work on the bibliography button, not sure why its so buggy*/ 